@import "tailwindcss";

/* ==========================
   Global Styles
========================== */

:root {
    --brand-color: #059669;
}


/* ==========================
   Dark Theme
========================== */

/* ==========================
   Theme Utility Classes
========================== */

/* Page */

.page-bg {
    @apply bg-white text-slate-800 transition-colors duration-300;
}

.dark .page-bg {
    @apply bg-slate-950 text-slate-100;
}

/* White Sections */

.section-light {
    @apply bg-white transition-colors duration-300;
}

.dark .section-light {
    @apply bg-slate-900;
}

/* Gray Sections */

.section-gray {
    @apply bg-stone-100 transition-colors duration-300;
}

.dark .section-gray {
    @apply bg-slate-950;
}

/* Cards */

.card {
    @apply bg-white rounded-[35px] shadow-xl transition-all duration-300;
}

.dark .card {
    @apply bg-slate-900 ring-1 ring-slate-800;
}

/* Headings */

.heading {
    @apply text-slate-900;
}

.dark .heading {
    @apply text-white;
}

/* Paragraph */

.paragraph {
    @apply text-slate-600;
}

.dark .paragraph {
    @apply text-slate-300;
}

/* Input */

.input-field {
    @apply w-full rounded-xl border border-slate-300 px-5 py-4 outline-none transition;
}

.dark .input-field {
    @apply bg-slate-800 border-slate-700 text-white;
}

/* Border */

.border-light {
    @apply border-slate-300;
}

.dark .border-light {
    @apply border-slate-700;
}


.brand-text {
    @apply text-emerald-600;
}

.brand-hover:hover {
    @apply text-emerald-600;
}

.brand-bg {
    background-color: var(--brand-color);
}

.brand-bg:hover {
    background-color: #047857;
}

.brand-border {
    border: 2px solid var(--brand-color);
}

.brand-shadow {
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
}

html {
    scroll-behavior: smooth;
}

::selection {
    background: #059669;
    color: white;
}

body {
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

/* ==========================
   Skill Progress Animation
========================== */

.skill-bar {
    width: 0;
    transition: width 2s ease;
}

/* ==========================
   Active Navigation Link
========================== */

.active-link {
    color: #059669;
    font-weight: 700;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease;
}